.mainDay {
  overflow: scroll;
  width: 100%;
}
.top {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.date:hover {
  cursor: pointer;
}
.center {
  gap: 0.5rem;
  display: flex;
}
.tasksGrid {
  position: relative;
  width: 100%;
}

.hour {
  position: absolute;
  transform: translateY(-50%);
}
.hoursBlock {
  position: relative;
  width: 2rem;
  display: flex;
  justify-content: center;
}
.containerTaskUntimed {
  overflow: scroll;
  border: solid var(--border-color) 1px;
}

.taskUntimed {
  border: solid var(--button-border-color) 1px;
}

.taskUntimed:hover {
  cursor: pointer;
}

.tasksBlock {
  box-sizing: border-box;
  border-bottom: 0.1rem solid gray;
  background-color: var(--bg-color);
  width: 100%;
}
/* TODO: Think to add even/odd color to alternate tasks */
.taskTimed {
  background-color: var(--surface-color);
  border: 0.1rem solid var(--border-color);
  width: calc(100% - 3px);
  border-radius: 0.4rem;
}

.taskTimed:hover {
  cursor: pointer;
}
