.mainContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}

.center {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

.monthChoice {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
}

.monthChoice span {
  text-align: center;
}
.monthChoice button {
  height: 2rem;
  width: 2rem;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 50%;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.monthChoice button:hover {
  cursor: pointer;
  background-color: var(--hover-bg-color);
}
.weekdayGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.monthGrid {
  display: grid;
  grid-template-columns: repeat(7, minmax(3rem, 1fr));
  flex: 1;
  grid-auto-rows: 8rem;
}
.day {
  border: solid var(--border-color) 1px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;
}

.dayNumber {
  color: var(--text-color);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dayNumber:hover {
  background-color: var(--hover-bg-color);
  cursor: pointer;
}

.taskList {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-height: 0;
  width: 100%;
}

.task {
  color: var(--text-color);
  background-color: var(--surface-color);
  border: solid var(--surface-border-color) 1px;
  border-radius: 12px;
  width: 95%;
}

.task:hover {
  cursor: pointer;
  color: var(--hover-text-color);
}
.today {
  background-color: var(--primary-color);
}
