.mainContainer {
  flex: 1 1 0;
}

.monthChoice {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  justify-content: center;
}

.monthChoice span {
  text-align: center;
}
.monthChoice button {
  height: 2rem;
  width: 2rem;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 50%;
  background: none;
  border: none;
}
.monthChoice button:hover {
  cursor: pointer;
  background-color: var(--hover-bg-color);
}
.monthGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  color: red;
  justify-items: center;
  padding: 1rem;
}

.day {
  border-radius: 24px;
  border-color: red;
  border-style: solid;
  padding: 2rem;
}

.dayNumber {
  color: white;
}

.today {
  background-color: blue;
}

.dayNumber:hover {
  background-color: blue;
  border-radius: 1rem;
  border-style: solid;
  border-color: blue;
  cursor: pointer;
}
