[data-theme="light"] {
  --primary-color: #ab36d6;
  --primary-variant-color: #b651db;
  --secondary-color: cyan;

  --bg-color: white;
  --surface-color: #171616;
  --error-color: red;
  --text-color: black;

  --border-color: red;
  --divider-color: black;

  --input-bg-color: white;
  --placeholder-color: blue;
}

[data-theme="dark"] {
  --primary-color: #ab36d6;
  --primary-variant-color: brown;
  --secondary-color: cyan;

  --bg-color: white;
  --surface-color: blue;
  --error-color: red;
  --text-color: black;

  --border-color: red;
  --divider-color: black;

  --input-bg-color: white;
  --placeholder-color: blue;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
