[data-theme="light"] {
  --primary-color: #ab36d6;
  --primary-variant-color: #b651db;
  --secondary-color: cyan;

  --bg-color: white;
  --surface-color: #171616;
  --error-color: red;
  --text-color: black;

  --surface-border-color: red;
  --divider-color: black;

  --input-bg-color: white;
  --placeholder-color: blue;
}

[data-theme="dark"] {
  --primary-color: #ab36d6;
  --primary-variant-color: #b651db;
  --secondary-color: cyan;

  --bg-color: #1e2030;
  --surface-color: #201e3a;
  --error-color: red;
  --text-color: white;
  --hover-text-color: #ab36d6;
  --hover-bg-color: #2d387e;

  --surface-border-color: red;
  --button-border-color: white;
  --border-color: #8e8e8e;
  --divider-color: black;

  --input-bg-color: white;
  --placeholder-color: blue;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

button {
  background-color: var(--surface-color);
  color: var(--text-color);
  border-color: var(--button-border-color);
}
svg {
  fill: var(--text-color);
}

* {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
